.responsive-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(34, 34, 34);
    z-index: -100;
    height: auto;
    border: white 1px solid;
    width: 50%;
    transition: all 0.2s linear;

    position: absolute;
    right: calc(100vw / 12);
    display: flex;
    color: rgb(251, 251, 251);
    list-style: none;
}

.link-item {
    height: 1rem;
    display: inline-block;
}